@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-foreground: 221 39% 11%; /* gray-900 */
    --color-foreground-muted: 215 14% 34%; /* gray-600 */
    --color-background: 0 0% 100%; /* white */
    --color-primary: 101 61% 43%; /* Hyku logo green */
  }
  .dark {
    --color-foreground: 220 14% 96%; /* gray-100 */
    --color-foreground-muted: 218 11% 65%; /* gray-400 */
    --color-background: 224 71% 4%; /* gray-900 */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
